
.conteudo {
    font-size: 2rem;
}

div.titulo {
    font-size: 2.8rem;
    padding: 10px;
    border-bottom: 2px solid #444;
}

body.exercicio {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "grid-header"
        "grid-nav"
        "grid-main"
        "grid-footer";
}

.header {
    grid-area: grid-header;
}

.nav {
    grid-template: grid-nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: #555;
}

.main {
    grid-area: grid-main;
    height: calc(100vh-240px);
}

.footer {
    grid-area: grid-footer;
}