
* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body.index {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "grid-header"
        "grid-nav"
        "grid-main"
        "grid-footer";
}

.header {
    grid-area: grid-header;
    background: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.header > h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.8rem;
}

.header > h2 {
    margin: 0;
    font-weight: 200;
    font-size: 1.6rem;
}

.index .nav {
    grid-template: grid-nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: #555;
}

.nav > a {
    padding: 8px;
    margin: 2px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav > a.verde {
    background-color: #4CAF50;
}

.nav > a.vermelho {
    background-color: #F44336;
}

.nav > a.azul {
    background-color: #1867c0;
}

.main {
    grid-area: grid-main;
    background: #f0f0f0;
    padding: 20px;
    height: calc(100vh - 240px);
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

.modulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modulo > h3 {
    margin: 0;
    background-color: #1867c0;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
}

.modulo > ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.modulo > ul li > a {
    text-decoration: none;
    display: flex;
    color: #222;
}

.modulo > ul > li {
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}


.footer {
    grid-area: grid-footer;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-right: 20px;
    font-size: 1.2rem;
    color: #444;
}

.modulo.verde { border: 2px solid #4CAF50 }
.modulo.verde > h3 { background-color: #4CAF50; }

.modulo.vermelho { border: 2px solid #F44336 }
.modulo.vermelho > h3 { background-color: #F44336; }

.modulo.azul { border: 2px solid #2196F3 }
.modulo.azul > h3 { background-color: #2196F3; }

.modulo.roxo { border: 2px solid #9C27B0 }
.modulo.roxo > h3 { background-color: #9C27B0; }

.modulo.laranja { border: 2px solid #FF9800 }
.modulo.laranja > h3 { background-color: #FF9800; }

.modulo.verde-escuro { border: 2px solid #1B5E20 }
.modulo.verde-escuro > h3 { background-color: #1B5E20; }

.modulo.vermelho-escuro { border: 2px solid #B71C1C }
.modulo.vermelho-escuro > h3 { background-color: #B71C1C; }

.modulo.azul-escuro { border: 2px solid #0D46A1 }
.modulo.azul-escuro > h3 { background-color: #0D46A1; }

.modulo.roxo-escuro { border: 2px solid #4A148C }
.modulo.roxo-escuro > h3 { background-color: #4A148C; }

.modulo.laranja-escuro { border: 2px solid #E65527 }
.modulo.laranja-escuro > h3 { background-color: #E65527; }


span.usuario {
    flex-grow: 1;
    justify-self: flex-start;
    color: white;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}